.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 15px;
}
/* .dark-mode {
  background-color: #000;
  color: white;
} */

.money {
  display: flex;
  flex-direction: row;
}
.intro {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid black;
  padding-bottom: 10px;
}
.box {
  display: flex;
  height: min-content;
  width: min-content;
  border: 3px solid #000;
  margin: 10px;
  align-items: center;
  font-size: 20px;
  flex-direction: column;
  border-radius: 30px;
  transition: all 0.8s;
}

p {
  margin-top: 5px;
  margin-bottom: 5px;
}
.money-display {
  margin-right: 50px;
}
h1,
h2 {
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 12px;
}

button {
  width: 120px;
  height: 50px;
  cursor: pointer;
  margin: 8px;
  border-radius: 25px;
  border: 1px solid black;
  transition: box-shadow 0.3s ease;
}
.raise,
input {
  width: 60px;
  height: 50px;
  cursor: pointer;
  margin: 8px;
  border-radius: 25px;
  border: 1px solid black;
  transition: box-shadow 0.3s ease;
}

button:hover {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  /* color: rgb(210, 80, 102); */
}

#whoWin {
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
}
